/* body{
    background-color:aqua;
  } */
.container {
    width: 50rem !important;
    border-radius: 5px;
    height: 45rem;
   margin-top: 2rem;
    padding: 2rem 0;
    background-color:aqua;
    color:tomato;
  }
  
  .card_style {
    /* border: 3px solid  turquoise; */
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0.5rem;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    font-size: 1rem;
    gap: 0.5rem;
  }
  
  .card_style img {
    border: 3px solid  turquoise;
    border-radius: 50%;
    width: 6rem;
  }
  .card_text{
    width: 300px;
  }
  
  span{
    font-size: 1.3rem;
color: deepskyblue ;
cursor: pointer;
  }
